.examples_grid {
	margin-top: 90px;

	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 30px;

	position: relative;

	&::before {
		content: '';
		position: absolute;
		top: -150px;
		left: -220px;
		width: 100%;
		max-width: 450px;
		height: 500px;
		z-index: -1;
		background: url('../img/examples/decor-number.png') center no-repeat;
	}
}

.examples_grid-item {
	width: 100%;
	position: relative;
	overflow: hidden;

	&::after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 1;
		background: linear-gradient(180deg, rgba(36, 43, 51, 0) 0%, #242b33 100%);
	}

	img {
		transition: 0.3s ease-in-out;
	}

	&:hover img {
		transform: scale(1.1);
	}

	p {
		position: absolute;
		z-index: 2;
		bottom: 45px;
		left: 50px;
		font-size: 24px;
		line-height: 28px;
	}
}
