// Fonts
$playfair-display-font: "Playfair Display", serif;
$roboto-font: "Roboto", sans-serif;
$raleway-font: "Raleway", sans-serif;

// Colors
$dark: #242B33;
$accent: #D4C17F;
$light-text: #ffffff;
$footer-background: #2D343C;

// Dimensions
$standart-font-size: 1rem;
