// Fonts
$playfair-display-font: 'Playfair Display', serif;
$roboto-font: 'Roboto', sans-serif;
$raleway-font: 'Raleway', sans-serif;

// Colors
$dark: #242b33;
$accent: #d4c17f;
$light-text: #ffffff;
$footer-background: #2d343c;

// Dimensions
$standart-font-size: 1rem;
$container: 1142px;
$desktop-padding: 1rem;
